<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>request_otp</servlet-name>
        <servlet-class>request_otp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verify_otp</servlet-name>
        <servlet-class>verify_otp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>otp_validate</servlet-name>
        <servlet-class>otp_validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_doc_info</servlet-name>
        <servlet-class>get_doc_info</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_doc_list</servlet-name>
        <servlet-class>get_doc_list</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doc_verf_status</servlet-name>
        <servlet-class>doc_verf_status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_doc_status</servlet-name>
        <servlet-class>update_doc_status</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>request_otp</servlet-name>
        <url-pattern>/request_otp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verify_otp</servlet-name>
        <url-pattern>/verify_otp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>otp_validate</servlet-name>
        <url-pattern>/otp_validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_doc_info</servlet-name>
        <url-pattern>/get_doc_info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_doc_list</servlet-name>
        <url-pattern>/get_doc_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doc_verf_status</servlet-name>
        <url-pattern>/doc_verf_status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_doc_status</servlet-name>
        <url-pattern>/update_doc_status</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
